body {
    background: rgb(63,251,97);
    background: linear-gradient(90deg, rgba(63,251,97,1) 0%, rgba(148,134,173,1) 50%, rgba(207,70,252,1) 100%);
}

#header {
    position:relative;
    top: 45px;
    color: black;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
}

h2 {
    color: purple;
    position: relative;
    top: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 12px;
    background-color: lightgray;
    border: 2px solid black;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    box-shadow: 0 0 5px 3px #6d70d0;
}

.info {
    font-size: 140px;
    
}

.daysText {
    color: black;
    font-size: 25px;
}